@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  background-color: #d7d4ff;
  height: 560px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topbanner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 64.68%;
}
.head-text h1 {
  font-family: "Merriweather";
  font-weight: 400;
  color: #2b2b2b;
  font-size: 36px;
  line-height: 47px;
}
.head-text p {
  font-family: "Lato";
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  margin-top: 17.5px;
  margin-bottom: 40px;
}

.btn-top {
  width: 155px;
  height: 50px;
  border: none;
  background: #6c63ff;
  box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
  border-radius: 5px;
  align-items: center;
  color: #fff;
  font-family: "Lato";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.img-top {
  width: 100%;
}
.container {
  margin: 10px auto;
  padding: 0 10%;
  padding-bottom: 10px;
}
.items {
  margin-top: 150px;
  display: grid;
  gap: 39px 20px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}
.item {
  height: 423px;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border: none;
  display: flex;
  flex-direction: column;
}
.item h2 {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: flex-end;
  color: #2b2b2b;
}
.item p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #555555;
  margin-top: 26px;
}
.item-img {
  height: 222px;
}
.one .item-img {
  background-color: #ff6363;
}
.two .item-img {
  background-color: #63ecff;
}
.three .item-img {
  background-color: #f363ff;
}
.four .item-img {
  background-color: #63ff73;
}
.five .item-img {
  background-color: #ffdd63;
}
.six .item-img {
  background-color: #6663ff;
}
.text-box {
  margin: auto 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}
footer {
  background-color: #d7d4ff;
  height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer h2 {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  color: #2b2b2b;
  margin-bottom: 60px;
}
input {
  width: 470px;
  height: 65px;
  border-radius: 6px;
  border: none;
  margin-bottom: 15px;
}
textarea {
  width: 470px;
  border-radius: 6px;
  border: none;
}
input::placeholder,
textarea::placeholder {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: rgba(110, 114, 117, 0.74);
  padding-left: 15px;
}
.btn-ft {
  width: 471px;
  height: 50px;
  border: none;
  background: #6c63ff;
  box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
  border-radius: 5px;
  align-items: center;
  color: #fff;
  font-family: "Lato";
  font-weight: 700;
  font-size: 20px;
  margin-top: 30px;
}

@media (max-width: 415px) {
  header {
    height: 100%;
  }
  .topbanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 55px;
    padding-bottom: 88px;
    
  }
  .btn-top{
    margin-top: 32px;
    margin-bottom: 120px;
  }
  .head-text h1 {
    font-size: 32px;
  }
  .head-text p{
    font-size: 18px;
  }
  .container .items {
    max-width: 415px;
  }

  input {
    width: 350px;
    margin: 10px auto;
  }
  textarea {
    width: 350px;
  }
  footer .btn-ft{
    width: 350px;
  }
}
